body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffdde1, #ee9ca7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.page {
  display: none;
  animation: fade 0.5s ease;
}

.page.active {
  display: block;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 40px;
}

p {
  color: #fff;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  background: white;
  color: #ff4d6d;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
}

.dino {
  font-size: 80px;
  animation: shake 0.3s infinite;
}

.happy {
  font-size: 80px;
}

.loader {
  border: 6px solid #fff;
  border-top: 6px solid #ff4d6d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

.small {
  font-size: 12px;
  opacity: 0.8;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg);}
  25% { transform: translate(-1px, 2px) rotate(-1deg);}
  50% { transform: translate(-3px, 1px) rotate(1deg);}
  75% { transform: translate(2px, -1px) rotate(0deg);}
  100% { transform: translate(1px, -2px) rotate(-1deg);}
}
